@import url('https://fonts.googleapis.com/css2?family=\'Poppins\', sans-serif:wght@100;200;300;400;500;600;700;800&display=swap');

$white-color: #fff;
$height100: 100%;

ion-row {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    left: 0;
    right: 0;
    margin: 0;
    top: 50%;transform: translateY(-50%);
}

ion-col {
    border: px solid #488aff;
    background: $white-color;
}


.login-text {
    color: var(--ion-color-primary);
    position: absolute;
    left: 50%;
    top: 20%;
    transform: translate(-50%, -50%);
    font-family: 'Poppins', 'sans-serif';
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    text-align: center;
    letter-spacing: 0.05em;
    // text-shadow: 0px 4px 4px var(--ion-color-primary);
  }

// This class take care of space amongst each form field
.emerge-form-line {
  border: 1px solid #ffc409;
  border-radius: 2px;
  box-shadow: 5px 8px 18px #888888;
}

.emerge-span {
  padding: 10px;
}

ion-button {
    font-weight: 300;
}

@media (min-width: 240px) and (max-width: 768px) {
    ion-grid {
        background: $white-color;
    }
    ion-col {
        border: none;
    }
}


.error-container {
    .error-message {
        margin: calc(var(--page-margin) / 2) 0px;
        display: flex;
        align-items: center;
        color: var(--ion-color-danger);
        font-size: 14px;

        ion-icon {
          padding-inline-end: calc(var(--page-margin) / 2);
        }
    }
}


.header-shadow-text {
    font-family: 'Poppins', 'sans-serif';
    font-style: normal;
    color: var(--ion-color-secondary);
    font-weight: bold;
    font-size: 5vw;
    text-align: center;
    letter-spacing: 0.05em;
    text-shadow: 0px 4px 4px var(--ion-color-primary);
    position: relative;
    top: 5px;
    padding: 10px 0px 10px 0px;
}

//.................... Media Query ............................//

@media only screen and (max-width: 320px) {
    .header-shadow-text {
        font-size: 2vw;
        word-wrap: break-word;
    }
    
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .header-shadow-text {
        font-size: 24px;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    .header-shadow-text {
        font-size: 24px;
    }
}