<app-admin-menu></app-admin-menu>

<ion-content>
  <ion-grid class="ion-no-padding">
    <ion-row>
      <ion-col
        size-md="6"
        offset-md="3"
        class="content-col ion-margin-horizontal ion-padding-end"
      >
        <p class="dashboard__welcome">
          Welcome
        </p>

        <ion-grid class="ion-no-padding ion-no-margin">
          <ion-row class="ion-justify-content-between">
            <ion-col size="5">
              <ion-button fill="clear" class="button-text" routerLink="/view-respondant-list"> 
                <p>
                  View <br /><br />
                  Responder
                </p>
              </ion-button>
            </ion-col>
            <ion-col size="5">
              <ion-button
                routerLink="/admin-add-respondant"
                fill="clear"
                class="button-text"
              >
                <p>
                  Add <br /><br />
                  Responder
                </p>
              </ion-button>
            </ion-col>
          </ion-row>

          <ion-row class="ion-justify-content-between ion-margin-top">
            <ion-col size="5">
              <ion-button fill="clear" class="button-text" routerLink="/view-admins">
                <p>
                  View <br /><br />
                  Admin
                </p>
              </ion-button>
            </ion-col>
            <ion-col size="5">
              <ion-button fill="clear" class="button-text" routerLink="/admin-sign-up">
                <p>
                  Add <br /><br />
                  Admin
                </p>
              </ion-button>
            </ion-col>
          </ion-row>
          <ion-item lines="none" class="ion-margin-top">
            <div slot="end">
              <ion-button
                size="large"
                routerLink="/admin-add-danger"
                color="warning"
                >Add Danger
                <ion-icon name="add-circle-sharp"></ion-icon>
              </ion-button>
            </div>
          </ion-item>
        </ion-grid>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

