<!-- Menu toggle -->
<ion-header>
  <ion-toolbar color="secondary" class="ion-padding-vertical">
    <ion-icon (click)="goBack()" color="primary" class="back-btn" src="/assets/md-custom-backbtn.svg"></ion-icon>
    
    <!-- <ion-buttons slot="end">
      <ion-menu-button class="main-menu-harmburger"  menu="main-menu">
        <span class="menu-harmbg-1"></span>
        <span class="menu-harmbg-2"></span>
        <span class="menu-harmbg-3"></span>
      </ion-menu-button>
    </ion-buttons> -->
  </ion-toolbar>
</ion-header>
