<app-victimblue-menu></app-victimblue-menu>

<ion-content class="unit-body">
  <ion-grid style="height: 100%">
    <ion-row>
      <ion-col size-md="6" size-lg="5" size-xs="12" class="ion-margin-vertical">
        <h3 class="divider line one-line">UNIT</h3>
        <ion-grid class="unit-inner-body">
          <!-- <ion-col> -->
            <div class="ion-text-start ion-margin ion-padding">
              <h3>ADDRESS :</h3>
              National Industrial Court Nigeria
              6th Lugard Ave, GRA, Enugu.
            </div>
            <div class="ion-text-start ion-margin ion-padding">
              <h3>CONTACT :</h3>
              Nunmber
              6th Lugard Ave, GRA, Enugu.
            </div>
          <!-- </ion-col> -->
        </ion-grid>
        <ion-item lines="none">
          <!-- <div slot="start">
            <ion-button size="large" type="submit" color="warning">Save
            </ion-button>
          </div> -->
          <div slot="end">
            <ion-button size="large" type="submit" color="warning">Visit
            </ion-button>
          </div>
        </ion-item>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <div class="footer">
    </div>
  </ion-toolbar>
</ion-footer>