<ion-header class="ion-no-border">
    <ion-toolbar>
        <ion-title></ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-grid>
        <ion-row class=" ion-text-center ion-align-items-center">
            <ion-col size-md="6" offset-md="3">
                <div class="text">
                    <ion-text>
                        <h1 class="text--big">WELCOME</h1>
                    </ion-text>

                    <ion-text>
                        <p class="text--small">Continue as...</p>
                    </ion-text>
                </div>

                <div class="buttons">
                    <ion-button routerLink="/user-welcome" expand="block" size="12">
                        Victim/Witness
                    </ion-button>

                    <ion-button routerLink="/respondant-login" expand="block" class="ion-margin-top" size="12">
                        Responder
                    </ion-button>
                </div>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>