<app-admin-menu></app-admin-menu>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size-md="6" offset-md="3">
        <div class="flex-top">
          <ion-text color="primary">
            <h2>EDIT ADMIN</h2>
          </ion-text>

          <ion-text color="primary">
            <h2>ID: <span id="id">AD562</span></h2>
          </ion-text>
        </div>
        <form action="">
          <ion-item>
            <ion-input type="text" placeholder="FIRST NAME" required></ion-input>
          </ion-item>
          <ion-item no-lines>
            <ion-input type="text" placeholder="LAST NAME" required></ion-input>
          </ion-item>
          <ion-item no-lines>
            <ion-input type="email" placeholder="EMAIL" required></ion-input>
          </ion-item>

          <ion-item no-lines>
            <ion-input type="password" placeholder="PASSWORD" required></ion-input>
          </ion-item>

          <ion-grid>
            <ion-row>
              <ion-col size="5" offset="7">
                <ion-button type="submit">
                  SAVE
                </ion-button>
              </ion-col>
            </ion-row>
          </ion-grid>
        </form>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
