<ion-header>
  <ion-toolbar>
    <ion-title>Emergency Details</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="closeModal()">
        <ion-icon slot="icon-only" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content padding class="unit-body">
  <ion-grid style="height: 100%">
    <ion-row>
      <ion-col class="ion-margin-vertical">
        <ion-grid class="unit-inner-body">
          <div>
            <ion-item lines="none">
              <div class="ion-text-start ion-margin ion-padding em_item">
                <h3 class="em_header">Details :</h3>
                <p>
                  Phone: {{phone_number}} <br><br>
                  Request Time: {{time}} <br><br>
                  Location: {{location}}
                </p>
              </div>
              
           
            </ion-item>
          </div>
          <div>
          <ion-item>
            <ion-button size="small" (click)="openMapModal()" color="warning">View on Map
            </ion-button>
          </ion-item>
          </div>
        </ion-grid>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

<ion-footer>
  <div class="footer">
    <ion-item lines="none">
      <div slot="start">
        <ion-button size="small" color="danger" (click)="closeModal()">Decline
        </ion-button>
      </div>
      <div slot="end">
        <ion-button size="small" *ngIf="!responded" color="warning" (click)="respond()">Respond
        </ion-button>
        <ion-button size="small" *ngIf="responded" color="warning" disabled>Unit Responded
        </ion-button>
      </div>
    </ion-item>
  </div>
</ion-footer>