<!-- Menu toggle -->
<ion-header>
	<ion-toolbar color="primary" class="header-title">
		<ion-icon (click)="goBack()" color="secondary" class="back-btn" src="/assets/md-custom-backbtn.svg"></ion-icon>
		<ion-title class="header-shadow-text"></ion-title>

		<ion-buttons slot="end" (click)="flipSegment()">
			<ion-menu-button class="main-menu-harmburger">
				<span class="menu-harmbg-1"></span>
				<span class="menu-harmbg-2"></span>
				<span class="menu-harmbg-3"></span>
			</ion-menu-button>
		</ion-buttons>
	</ion-toolbar>
</ion-header>

<ion-menu contentId="content" side="end">
	<ion-header>
	  <div class="menu-main-icon">
		<ion-menu-toggle>
		  <ion-item
			class="item-background"
			routerLink="/user-welcome"
		  >
			<ion-icon
			  color="secondary"
			  class="menu-icon"
			  name="home"
			></ion-icon>
		  </ion-item>
		</ion-menu-toggle>
		<ion-menu-toggle>
		  <ion-item
			class="item-background2" 
			href="/"
		  >
			<ion-icon
			  color="secondary"
			  class="menu-icon"
			  name="log-in-outline"
			></ion-icon>
		  </ion-item>
		</ion-menu-toggle>
	  </div>
	</ion-header>
  
	<ion-content>
	  <ion-list class="menu-border">
		<ion-menu-toggle
		  auto-hide="false"
		  *ngFor="let page of pages; last as isLast"
		>
		  <ion-item
		  [class.menu-item-line] = "!isLast"
			[routerLink]="[page.url]"
			routerDirection="root"
			[class.active-item]="
			  selectedPath === page.url
			"
		  > <ion-icon color="secondary" name={{page.icon}}></ion-icon>
			<ion-label>
				 {{ page.title }}
			</ion-label>
		  </ion-item>
		</ion-menu-toggle>
	  </ion-list>
	</ion-content>
  </ion-menu>
  
  <ion-router-outlet
	id="content"
	main
  ></ion-router-outlet>