<!-- Menu toggle -->
<ion-header>
	<ion-toolbar color="primary" class="header-title">
		<ion-icon (click)="goBack()" color="secondary" class="back-btn" src="/assets/md-custom-backbtn.svg"></ion-icon>
		<ion-title class="header-shadow-text">
			<!-- <ion-icon class="logo-title" src="{{ logoUpdate() }}"></ion-icon>
			<span class="menu-title">
				{{ titleUpdate() }}
			</span> -->
		</ion-title>

		<ion-buttons slot="end" (click)="flipSegment()">
			<ion-menu-button class="main-menu-harmburger" menu="main-menu">
				<span class="menu-harmbg-1"></span>
				<span class="menu-harmbg-2"></span>
				<span class="menu-harmbg-3"></span>
			</ion-menu-button>
		</ion-buttons>
	</ion-toolbar>
</ion-header>

<!-- MENU SIDE ITEMS START -->
<ion-menu menuId="main-menu" contentId="main" side="end">
	<ion-header>
		<div class="menu-main-icon">
			<ion-menu-toggle>
				<ion-icon color="secondary" class="menu-close" name="close-outline"></ion-icon>
			</ion-menu-toggle>
			<ion-segment [(ngModel)]="menuSegment">
				<ion-segment-button>
					<ion-menu-toggle>
					<ion-button fill="clear" color="none" href="/user-welcome">
						<ion-icon color="secondary" name="home"></ion-icon>
					</ion-button>
				</ion-menu-toggle>
				</ion-segment-button>
				<ion-segment-button value="view-danger">
					<ion-item class="item-background">
						<ion-icon color="secondary" class="menu-icon" name="nuclear"></ion-icon>
					</ion-item>
				</ion-segment-button>
				<ion-segment-button value="find-unit">
					<ion-item class="item-background">
						<ion-icon color="secondary" class="menu-icon" name="locate"></ion-icon>
					</ion-item>
				</ion-segment-button>
				<ion-segment-button value="get-help">
					<ion-item class="item-background">
						<ion-icon color="secondary" class="menu-icon" name="alert-outline"></ion-icon>
					</ion-item>
				</ion-segment-button>
			</ion-segment>
		</div>
	</ion-header>
	<ion-content>
		<div [ngSwitch]="menuSegment">
			<ion-list *ngSwitchCase="'view-danger'" class="menu-border">
				<ion-menu-toggle>
					<ion-item class="menu-item-line" href="/get-help">
						<ion-label>Get Help</ion-label>
					</ion-item>
				</ion-menu-toggle>
				<ion-menu-toggle>
					<ion-item class="menu-item-line" href="./find-unit">
						<ion-label>Find Unit</ion-label>
					</ion-item>
				</ion-menu-toggle>
				<ion-menu-toggle>
					<ion-item href="./view-dangers">
						<ion-label>View Dangers</ion-label>
					</ion-item>
				</ion-menu-toggle>
			</ion-list>

			<ion-list *ngSwitchCase="'find-unit'" class="menu-border">
				<ion-menu-toggle>
					<ion-item class="menu-item-line" href="/get-help">
						<ion-label>Get Help</ion-label>
					</ion-item>
				</ion-menu-toggle>
				<ion-menu-toggle>
					<ion-item class="menu-item-line" href="./find-unit">
						<ion-label>Find Unit</ion-label>
					</ion-item>
				</ion-menu-toggle>
				<ion-menu-toggle>
					<ion-item href="./view-dangers">
						<ion-label>View Dangers</ion-label>
					</ion-item>
				</ion-menu-toggle>
			</ion-list>

			<ion-list *ngSwitchCase="'get-help'" class="menu-border">
				<ion-menu-toggle>
					<ion-item class="menu-item-line" href="/get-help">
						<ion-label>Get Help</ion-label>
					</ion-item>
				</ion-menu-toggle>
				<ion-menu-toggle>
					<ion-item class="menu-item-line" href="./find-unit">
						<ion-label>Find Unit</ion-label>
					</ion-item>
				</ion-menu-toggle>
				<ion-menu-toggle>
					<ion-item href="./view-dangers">
						<ion-label>View Dangers</ion-label>
					</ion-item>
				</ion-menu-toggle>
			</ion-list>
		</div>
	</ion-content>
	<ion-router-outlet id="main"></ion-router-outlet>
</ion-menu>