<app-respondant-menu></app-respondant-menu>

<ion-content class="unit-body">
  <ion-grid style="height: 100%">
    <ion-row>
      <ion-col size-md="6" size-lg="5" size-xs="12" class="ion-margin-vertical">
        <h3 class="divider line one-line">EMERGENCIES</h3>
        <ion-grid class="unit-inner-body">
          <!-- <div>
            <ion-item lines="none">
                <div slot="end" class="ion-margin">
                  <a>
                    <ion-button size="medium" type="submit" color="default">
                      <ion-icon size="small" name="filter-sharp"></ion-icon>
                    </ion-button>
                  </a>
                </div>
            </ion-item>
          </div> -->
          <div class="modal" *ngFor="let emergency of emergencies">
            <ion-item (click)="openModal(emergency.id)" lines="none">
              <div class="ion-text-start ion-margin ion-padding em_item">
                <h3 class="em_header">Details :</h3>
                <p>
                  Phone: {{emergency.phone_number}} <br><br>
                  Request Time: {{emergency.time}} <br><br>
                  Location: {{emergency.location}}
                </p>
              </div>
            </ion-item>
          </div>
        </ion-grid>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
