//.................header Title and SVG start..........................//


.header-shadow-text {
    font-family: 'Poppins', 'sans-serif';
    font-style: normal;
    color: var(--ion-color-primary);
    font-weight: bold;
    font-size: 5vw;
    text-align: center;
    letter-spacing: 0.05em;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    position: relative;
    top: -5px; 
}

.header-title {
    height: 60px;  
}

.back-btn {
    position: absolute;
    top: 20px;
    left: 10px;
    height: 25px;
    width: 25px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}

.back-btn:hover {
    height: 35px;
    width: 35px;
}

.menu-close {
    position: absolute;
    top: 10px;
    left: 260px;
    height: 25px;
    width: 25px;   
}

.menu-icon {
    width: 25px;
    height: 25x;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}

.menu-icon:hover {
    width: 30px;
    height: 30x;
}

//.....................header Title and SVG end..............................//



// ....................Menu harmburger design start.........................//


.main-menu-harmburger {
    width: 50px;
    height: 50px;
    position: relative;
    top: -5px;
}

.menu-harmbg-1 {
    position: absolute;
    min-width: 100%;
    height: 1.86px;
    background: var(--ion-color-secondary);
    border-radius: 45px;
    border: 1px solid #ffc409;
    margin-bottom: 5px;
}

.menu-harmbg-2 {
    position: absolute;
    min-width: 70%;
    height: 1.86px;
    background: var(--ion-color-secondary);
    border-radius: 45px;
    border: 1px solid #ffc409;
    margin-top: 5px;
    left: 10px;
    
}

.menu-harmbg-3 {
    position: absolute;
    min-width: 100%;
    height: 1.86px;
    background: var(--ion-color-secondary);
    border-radius: 45px;
    border: 1px solid #ffc409;
    margin-top: 10px;
}


@supports (-moz-appearance:none) {
    .menu-harmbg-1 {
        position: absolute;
        width: 30px;
        height: 1.86px;
        border-radius: 45px;
        border: 1px solid var(--ion-color-primary);
        top: 13px;
    }

    .menu-harmbg-2 {
        position: absolute;
        width: 19.71px;
        height: 1.86px;
        border-radius: 45px;
        border: 1px solid var(--ion-color-primary);
        top: 13px;
        left: 10px;
    }

    .menu-harmbg-3 {
        position: absolute;
        width: 30px;
        height: 1.86px;
        border-radius: 45px;
        border: 1px solid var(--ion-color-primary);
        top: 13px;
    }
}

//.........................Menu harmburger design end.............................//

//...............................Menu Icon and Grid start...........................//
ion-menu {
    --ion-background-color: rgb(0, 18, 70, 0.8);

    ion-item {
        background: transparent;
    }

    ion-label {
        color: white;
    }

    ion-icon {
        color: white;
        margin-right: 20px;
    }
}

ion-menu-button {
    padding-top: 10px;
}



.item-background {
    --ion-background-color: transparent;
}

.menu-border {
    position: absolute;
    width: 90%;
    --height: 40%;
    border: 2px solid var(--ion-color-secondary);
    box-sizing: border-box;
    border-radius: 3px;
    margin: 10px 0 1px 15px;
}


.menu-main-icon {
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 1px;
}

.menu-main-icon:first-child {
    padding-left: 10px;
}

.menu-item-line {
    border-bottom: 2px solid var(--ion-color-secondary);
}

/*************************Footer************************/

ion-footer ion-toolbar {
    --background: rgba(0, 21, 79, 0.8);
    height: 40px;
    position: fixed;
    bottom: 0;
  }

//....................Menu Icon and Grid End............................//


//.................... Media Query ............................//

@media only screen and (max-width: 320px) {
    .header-shadow-text {
        font-size: 2vw;
        word-wrap: break-word;
    }
    
    .user-helpsvg {
        width: 20px;
        height: 20px;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .header-shadow-text {
        font-size: 24px;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    .header-shadow-text {
        font-size: 24px;
    }
}