<app-respondant-menu></app-respondant-menu>
<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size-md="6" offset-md="3">
        <ion-text>
          <h1 class="welcome-text ion-text-center">WELCOME BACK</h1>
        </ion-text>

        <div class="buttons">
          <div>
            <ion-button fill="clear" class="button-text" routerLink="/view-emergencies">
              <p>
                EMERGENCY
              </p>
            </ion-button>
          </div>

          <div>
            <ion-button fill="clear" class="button-text">
              <p>
                HISTORY
              </p>
            </ion-button>
          </div>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

<ion-footer class="ion-no-border">
  <ion-toolbar>
    <ion-button fill="clear"  routerLink="/respondant-details">
      <ion-title class="ion-text-left ion-no-padding">EDIT DETAILS</ion-title>
      <ion-icon slot="end" name="add-circle-outline"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-footer>
