<app-victimblue-menu></app-victimblue-menu>

<ion-content padding class="user-body">
  <ion-grid style="height: 100%;">
    <ion-row>
      <ion-col align-self-center size-md="6" size-lg="5" size-xs="12">
        <h3 class="divider line one-line">UNIT ALERTED</h3>
        <ion-grid class="ion-margin user-inner-body ion-padding">
          <ion-col>
            <ion-row class="ion-margin">
              <div class="ion-text-center user-text">
                The unit has been notified and is on the way.<br />
                Please find somewhere safe to wait. Below is the list of respondent closer to your location
              </div>
            </ion-row>
            <ion-row>
              <div class="modal" *ngFor="let respondent of respondents">
                <ion-item  lines="none">
                  <div class="ion-text-start ion-margin ion-padding em_item">
                    <h3 class="em_header">Respondent Details :</h3>
                    <p>
                      Name: {{ respondent.fullname }} <br><br>
                      Phone: {{ respondent.phoneNumber }} <br><br>
                      Email: {{ respondent.email }} <br>
                      Address: {{ respondent.formattedAddress }} <br>
                    </p>
                  </div>
                </ion-item>
              </div>
            </ion-row>
            <!-- <ion-row>
              <ion-icon name="car-sport-sharp"></ion-icon>&nbsp;
              <span style="font-weight: bold;">57 Minutes</span>
            </ion-row> -->
          </ion-col>
        </ion-grid>
        <ion-item lines="none">
          <!-- <div slot="start">
            <ion-button size="large" type="submit" expand="" color="default"
              >Rate
            </ion-button>
          </div> -->
          <div slot="end">
            <ion-button size="large" type="submit" expand="" color="primary" routerLink="/user-welcome"
              >Home
            </ion-button>
          </div>
        </ion-item>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

<!-- <ion-footer>
    <ion-toolbar>
        <div class="footer">
        </div>
    </ion-toolbar>
</ion-footer> -->
