// Add Responder stylesheet
.header {
    // position: absolute;
    width: 100%;
    height: 58px;
    //background: rgba(0, 21, 79, 0.9);
    background: #f4af1b;
    margin: 0;
    // border-radius: 3px;
    // color: ;
}

.footer {
    // position: absolute;
    width: 100%;
    height: 58px;
    background: #f4af1b;
    // margin: 0;
    // border-radius: 3px;
    // color: ;
}

.divider {
    display: flex;
    &:before,
    &:after {
        content: "";
        flex: 1;
    }
}

.line {
    align-items: center;
    margin: 1em -1em;
    color: #000000;
    font-style: normal;
    &:before,
    &:after {
        height: 1px;
        margin: 0 1em;
    }
}

.one-line {
    &:before,
    &:after {
        background: #cccccc;
    }
}

.user-body ion-row {
    height: 100%;
    justify-content: center;
}

.user-body ion-button {
    color: rgba(129, 139, 165, 0.6);
    font-style: normal;
    font-weight: bold !important;
    letter-spacing: 0.1em;
}

.user-inner-body {
    background-color: #F1F5FF;
}

.input-form-line {
    background: #FFFFFF;
    border: 1.5px solid #F2BC94;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px #888888;
    border-radius: 3px;
}

.user-body ion-button {
    font-weight: bold;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 3px;
    background: #F1F5FF;
    // padding: 5px;
    color: #000000;
}

.user-text {
    font-style: normal;
    // font-size: 18px;
}

.input-padding {
    padding: 5px;
}

ion-icon {
    font-size: 25px;
}

// View Emergencies stylesheet
.header, .footer {
    width: 100%;
    height: auto;
    background: rgba(0, 21, 79, 0.9);
    margin: 0;
}

.divider {
    display: flex;
    &:before,
    &:after {
        content: "";
        flex: 1;
    }
    letter-spacing: 0.05em;
    color: rgba(0, 21, 79, 0.9);
}
.line {
    align-items: center;
    margin: 1em -1em;
    // color: #000000;
    &:before,
    &:after {
        height: 1px;
        margin: 0 1em;
    }
}

.one-line {
    &:before,
    &:after {
        background: #cccccc;
    }
}

.unit-body ion-row {
    height: 100%;
    justify-content: center;
}

.unit-body ion-button {
    color: rgba(129, 139, 165, 0.6);
    font-style: normal;
    font-weight: bold !important;
    letter-spacing: 0.1em;
}

.unit-inner-body{
    background-color: rgba(255, 255, 255, 0.8);
    font-style: normal;
}

.unit-inner-body a{
    text-decoration: none;
    color: #000000;

}

.unit-body ion-button {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 3px;
    // padding: 5px;
}

.em_header{
    font-size: 16px;
    color: rgba(0, 21, 79, 0.9);
    border-bottom: 1px solid rgba(0, 21, 79, 0.9);
}

.em_item{
    background: #FFFFFF;
    border: 1px solid rgba(18, 18, 18, 0.4);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 3px;
}


