<ion-header>
    <ion-toolbar>
        <ion-title></ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-grid>
        <ion-row class="ion-text-center ion-align-items-center">
            <ion-col size-md="6" offset-md="3" class="ion-margin-vertical">

                <ion-text class="ion-text-center">
                    <h1>LOG IN</h1>
                </ion-text>

                <div class="form">
                    <form size="12" #form="ngForm" (ngSubmit)="loginUser()">
                        <ion-item no-lines>
                            <ion-input required type="text" placeholder="RESPONDER ID" name="email" [(ngModel)]="loginCredentials.email" required></ion-input>
                        </ion-item>
                        <ion-item no-lines>
                            <ion-input required type="password" placeholder="PASSWORD" name="password" [(ngModel)]="loginCredentials.password" required></ion-input>
                        </ion-item>
                        <ion-button href="/respondant-dashboard" type="submit" size="12">
                            Login
                        </ion-button>
                    </form>
                </div>

                <div class="recover-password">
                    <ion-text>
                        <p>Forgot password ? <a href="">Recover</a></p>
                    </ion-text>
                </div>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>