<ion-header>
  <ion-toolbar color="primary">
    <ion-title class="header-shadow-text">
        Add new admin
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-grid id="container">
  <ion-row>
    <ion-col align-self-center size-md="6" size-lg="5" size-xs="12">
      <form (ngSubmit)="adminAddUser()" #registerForm="ngForm">
        <div padding>
          <div class="emerge-form-line">
            <ion-item lines="none">
              <ion-label position="floating">First name</ion-label>
              <ion-input
                type="text"
                name="firstname"
                [(ngModel)]="registerCredentials.firstname"
                required
              ></ion-input>
            </ion-item>
          </div>
          <span class="emerge-span"></span>

          <div class="emerge-form-line">
            <ion-item lines="none">
              <ion-label position="floating">Last name</ion-label>
              <ion-input
                type="text"
                name="lastname"
                [(ngModel)]="registerCredentials.lastname"
                required
              ></ion-input>
            </ion-item>
          </div>
          <span class="emerge-span"></span>

          <div class="emerge-form-line">
            <ion-item lines="none">
              <ion-label position="floating">Email</ion-label>
              <ion-input
                type="text"
                name="email"
                [(ngModel)]="registerCredentials.email"
                required
              ></ion-input>
            </ion-item>
          </div>
          <span class="emerge-span"></span>

          <div class="emerge-form-line">
            <ion-item lines="none">
              <ion-label position="floating">Phone Number</ion-label>
              <ion-input
                type="text"
                name="phone_number"
                [(ngModel)]="registerCredentials.phone_number"
                required
              ></ion-input>
            </ion-item>
          </div>
          <span class="emerge-span"></span>

          <div class="emerge-form-line">
            <ion-item lines="none">
              <ion-label position="floating">Password</ion-label>
              <ion-input
                type="password"
                name="password"
                [(ngModel)]=" registerCredentials.password "
                required
              ></ion-input>
            </ion-item>
          </div>
          <span class="emerge-span"></span>
        </div>

        <div padding>
          <ion-button
            size="large "
            type="submit "
            color="secondary "
            expand="block "
            >Sign Up
            <ion-icon name="log-out-outline "></ion-icon>
          </ion-button>
        </div>
      </form>
    </ion-col>
  </ion-row>
</ion-grid>

<ion-footer>
  <ion-toolbar> </ion-toolbar>
</ion-footer>
