.admin__head{
    color: rgba(0, 21, 79, 0.9);
}

//....................Menu Start.........................//

// Menu Icon and Grid start
ion-menu {
    --ion-background-color: rgba(0,18,70, 0.6);
  
    ion-label{
      color: white;
    }
    
    ion-icon {
      color: white;
      margin-right: 20px;
    }
  }
  
  .menu-containter {
    position: absolute;
    top: 80px;
  }
  
    .menu-border {
    position: absolute;
    width: 90%;
    --height: 40%;
    border: 2px solid var(--ion-color-primary);
    box-sizing: border-box;
    border-radius: 3px;
    margin: 10px 0 1px 15px;
  }
  
  .menu-main-icon {
    display: flex;
    justify-content: space-between;
    padding-top: 40px;
  }
  
  .menu-icon {
    width: 30px;
    height: 30px;
  }
  
  .menu-main-icon:first-child {
    padding-left: 10px;
  }
  
  .menu-item-line {
    border-bottom: 2px solid var(--ion-color-primary);
  }
  // Menu Icon and Grid End
  
  // Menu harmburger design start
  .menu-harmbg-1 {
    position: absolute;
    width: 30px;
    height: 1.86px;
    background: var(--ion-color-secondary);
    border-radius: 45px;
    border: 1px solid black;
    margin-bottom: 5px;
    top: -5px;
  }
  
  .menu-harmbg-2 {
    position: absolute;
    width: 19.71px;
    height: 1.86px;
    background: var(--ion-color-secondary);
    border-radius: 45px;
    border: 1px solid black;
    margin-top: 5px;
    top: -5px;
    left: 10px;
  }
  
  .menu-harmbg-3 {
    position: absolute;
    width: 30px;
    height: 1.86px;
    background: var(--ion-color-secondary);
    border-radius: 45px;
    border: 1px solid black;
    margin-top: 10px;
    top: -5px;
  }
  
  // Menu harmburger design for Mozila
  @supports (-moz-appearance:none) { 
      .menu-harmbg-1 {
      position: absolute;
      width: 30px;
      height: 1.86px;
      background: var(--ion-color-secondary);
      border-radius: 45px;
      border: 1px solid black;
      top: 13px;
    }
  
  .menu-harmbg-2 {
      position: absolute;
      width: 19.71px;
      height: 1.86px;
      background: var(--ion-color-secondary);
      border-radius: 45px;
      border: 1px solid black;
      // margin-top: 5px;
      top: 13px;
      left: 10px;
    }
  
    .menu-harmbg-3 {
      position: absolute;
      width: 30px;
      height: 1.86px;
      background: var(--ion-color-secondary);
      border-radius: 45px;
      border: 1px solid black;
      // margin-top: 10px;
      top: 13px;
    }
  }
  // Menu harmburger design end
  
  // header Title and SVG start
  ion-title {
    position: relative;
    text-align: center;
    top: -14px;
  }
  
  .user-helpsvg {
    width: 45px;
    height: 45px;
    position: fixed;
    top: -10px;
    left: -10px;
  }
  
  .header-shadow-text {
    font-family: 'Poppins', 'sans-serif';
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    text-align: center;
    letter-spacing: 0.05em;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    position: relative;
    top: 10px;
    left: 20px;
  }
  // header Title and SVG end
  
  @media (min-width: 1200px) and (max-width: 1600px) {
    .user-location {
      width: 350px;
      height: 50vh;
    }
  
    .confirm-text {
      text-align: center; 
      text-transform: uppercase;
      font-size: 28px;
      margin: 10px;
    }
  
    .location-text {
      text-align: left;
      text-transform: capitalize;
      font-size: 20px;
      margin: 10px 10px 0 10px;
      font-family: 'Poppins' ', sans-serif';
      letter-spacing: 0.05em;
    }
    .user-helpsvg1 {
      display: none;
    }
  }
  
  @media screen and (max-width: 360px) {
    .confirm-text {
      text-align: center; 
      text-transform: uppercase;
      font-size: 16px;
    }
    
    .location-text {
      font-size: 20px;
    }
  
    .text-loc {
      font-size: 16px;
      padding-top: 10px;
    }
    
    .quest-loc {
      font-size: 16px;
      padding-top: 5px;
    }
  
    // Menu SVG and title
    .user-helpsvg {
      position: fixed;
      top: 43px;
      left: 60px;
    }
    
    .header-shadow-text {
      position: relative;
      top: 8px;
      left: 20px;
    }
  
    .user-helpsvg1 {
      display: none;
    }
  }
  
  @media screen and (min-width: 375px) and (max-width: 767px) {
    .header-shadow-text {
      font-size: 16px;
    }
    
    // Menu SVG and title
    .user-helpsvg {
      position: fixed;
      top: 28px;
      left: 115px;
      height: 30px;
      width: 30px;
    }
    
    .header-shadow-text {
      position: relative;
      top: 5px;
      left: 10px;
    }
  
    .ion-padding-vertical {
      height: 80px;
    }
  
    // Menu harmburger
    .menu-harmbg-1 {
      position: fixed;
      width: 30px;
      top: 20px;
      right: 10px;
    }
  
  .menu-harmbg-2 {
      position: fixed;
      width: 19.71px;
      top: 20px;
      left: -20px;
      right: 10px;
    }
  
    .menu-harmbg-3 {
      position: fixed;
      width: 30px;
      top: 20px;
      right: 10px;
    }
  
    .user-helpsvg1 {
      display: none;
    }
  }
  
  @media screen and (min-width: 768px) and (max-width: 1200px) {
    .header-shadow-text {
      font-size: 16px;
    }
    
    // Menu SVG and title
    .user-helpsvg {
      position: fixed;
      top: 28px;
      left: 310px;
      height: 30px;
      width: 30px;
    }
    
    .header-shadow-text {
      position: relative;
      top: 5px;
      left: 10px;
    }
  
    .ion-padding-vertical {
      height: 80px;
    }
  
    // Menu harmburger
    .menu-harmbg-1 {
      position: fixed;
      width: 30px;
      top: 15px;
      right: 10px;
    }
  
    .menu-harmbg-2 {
      position: fixed;
      width: 20px;
      top: 16px;
      right: 10px;
      left: -22px;
    }
  
    .menu-harmbg-3 {
      position: fixed;
      width: 30px;
      top: 18px;
      right: 10px;
    }
  
  .user-helpsvg1 {
    display: none;
  }
  }
  
  @media screen and (min-width: 1280px) and (max-width: 2560px) {
  .user-helpsvg1 {
    display: none;
  }
  
  .user-helpsvg {
    width: 45px;
    height: 45px;
    position: fixed;
    top: 15px;
    left: 10px;
  }
  }
  