<ion-header>
  <!-- <ion-toolbar color="primary" class="admin-menu-bg">
      <ion-title class="header-shadow-text">
          <ion-icon class="user-helpsvg" src="/assets/hands.svg"></ion-icon>GET HELP</ion-title>
      <ion-buttons slot="end">
          <ion-menu-button menu="main-menu">
              <span class="menu-harmbg-1"></span>
              <span class="menu-harmbg-2"></span>
              <span class="menu-harmbg-3"></span>
          </ion-menu-button>
      </ion-buttons>
  </ion-toolbar> -->
</ion-header>

<ion-app>
  <ion-router-outlet></ion-router-outlet>
</ion-app>
