<!-- Menu toggle -->
<app-victim-menu></app-victim-menu>

<!-- MENU SIDE ITEMS START -->

<!-- Confirm location container -->
<div class="user-container">
  <div class="user-location">
    <ion-grid>
      <ion-text color="primary">
        <h1 class="confirm-text">Confirm Location</h1>
      </ion-text>
      <ion-text color="primary">
        <p class="location-text">
          National Industrial Court <br />Nigeria 6th Lugard Av, GRA Enugu
        </p>
      </ion-text>
      <ion-text>
        <p class="text-loc">Is this your current location?</p>
        <!-- <p class="quest-loc">?</p> -->
      </ion-text>
      <div class="confirm-btn">
        <ion-button class="loc-btn"
          ><span class="btn-txt">EDIT</span></ion-button
        >
        <ion-button class="loc-btn"
          ><span class="btn-txt">YES</span></ion-button
        >
      </div>
    </ion-grid>
  </div>
</div>

<!-- MENU SIDE ITEM END -->
