<!-- Menu toggle -->
<!-- <ion-header>
    <ion-toolbar color="primary" class="ion-padding-vertical">
        <ion-icon class="user-helpsvg" src="/assets/handshake.svg"></ion-icon>
        <ion-title class="header-shadow-text">
            <ion-icon class="user-helpsvg1" src="/assets/handshake.svg"></ion-icon>GET HELP
        </ion-title>
        <ion-buttons slot="end">
            <ion-menu-button menu="main-menu">
                <span class="menu-harmbg-1"></span>
                <span class="menu-harmbg-2"></span>
                <span class="menu-harmbg-3"></span>
            </ion-menu-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header> -->


<!-- MENU SIDE ITEMS START -->
<ion-app class="menu-containter">
    <ion-router-outlet id="main"></ion-router-outlet>

<!-- Confirm location container -->
<div class="user-container">
    <div class="user-location">
        <ion-grid>
            <ion-text color="secondary">
                <h1 class="confirm-text">Confirm Location</h1>
            </ion-text>
            <ion-text color="secondary">
                <p class="location-text">National Industrial Court <br>Nigeria 6th Lugard Av, GRA Enugu</p>
            </ion-text>
            <ion-text>
                <p class="text-loc">Is this your current location</p>
                <p class="quest-loc">?</p>
            </ion-text>
            <div class="confirm-btn">
                <ion-button class="loc-btn"><span class="btn-txt">EDIT</span></ion-button>
                <ion-button class="loc-btn"><span class="btn-txt">YES</span></ion-button>
            </div>
        </ion-grid>
    </div>
</div>
</ion-app>



<!-- MENU SIDE ITEM END -->


