<app-respondent-back-menu></app-respondent-back-menu>

<ion-content class="auth-form">
  <ion-grid>
    <ion-row>
      <ion-col align-self-center size-md="6" size-lg="5" size-xs="12">
        <span class="divider line one-line">EDIT RESPONDER</span>
        <form #form="ngForm" (ngSubmit)="adminAddResponder()">
          <ion-grid>
            <ion-row color="primary" justify-content-center>
              <ion-col align-self-center>
                <div padding>
                  <div class="input-form-line">
                    <ion-item lines="none">
                      <ion-label position="floating">Email</ion-label>
                      <ion-input
                        type="text"
                        name="email"
                        [(ngModel)]="addReponderCredentials.email"
                        required
                      ></ion-input>
                    </ion-item>
                  </div>
                  <span class="input-padding"></span>
                  <div class="input-form-line">
                    <ion-item lines="none">
                      <ion-label position="floating">Password</ion-label>
                      <ion-input
                        type="password"
                        name="password"
                        [(ngModel)]="addReponderCredentials.password"
                        required
                      ></ion-input>
                    </ion-item>
                  </div>
                  <span class="input-padding"></span>
                  <div class="input-form-line">
                    <ion-item lines="none">
                      <ion-label position="floating">Full Name</ion-label>
                      <ion-input
                        type="text"
                        name="fullname"
                        [(ngModel)]="addReponderCredentials.fullname"
                        required
                      ></ion-input>
                    </ion-item>
                  </div>
                  <span class="input-padding"></span>
                  <div class="input-form-line">
                    <ion-item lines="none">
                      <ion-label position="floating">Phone Number</ion-label>
                      <ion-input
                        type="text"
                        name="phone_number"
                        [(ngModel)]="addReponderCredentials.phone_number"
                        required
                      ></ion-input>
                    </ion-item>
                  </div>
                  <span class="input-padding"></span>
                  <div class="input-form-line">
                    <ion-item lines="none">
                      <ion-label position="floating"
                        >Responder Address</ion-label
                      >
                      <ion-input
                        type="text"
                        name="address"
                        [(ngModel)]="addReponderCredentials.address"
                        required
                      ></ion-input>
                    </ion-item>
                  </div>
                  <span class="input-padding"></span>
                  <div class="input-form-line">
                    <ion-item>
                      <ion-label>Responder Unit</ion-label>
                      <ion-select
                        name="respondant_unit"
                        [(ngModel)]="addReponderCredentials.respondant_unit"
                        placeholder="Units"
                      >
                        <ion-select-option
                          [value]="info"
                          *ngFor="let info of units"
                          >{{info}}</ion-select-option
                        >
                      </ion-select>
                    </ion-item>
                  </div>
                  <span class="input-padding"></span>
                  <div class="input-form-line">
                    <ion-item>
                      <ion-label>Responder Type</ion-label>
                      <ion-select
                        name="respondantType"
                        [(ngModel)]="addReponderCredentials.respondantType"
                        placeholder="Unit Type"
                      >
                        <ion-select-option
                          [value]="info"
                          *ngFor="let info of unitTypes"
                          >{{info}}</ion-select-option
                        >
                      </ion-select>
                    </ion-item>
                  </div>
                  <span class="input-padding"></span>
                  <div class="input-form-line">
                    <ion-item lines="none">
                      <ion-label position="floating">Coordinates</ion-label>
                      <ion-input
                        type="text"
                        name="coordinates"
                        (click)="presentModal()"
                        [(ngModel)]="addReponderCredentials.coordinateInfo"
                        diabled
                      ></ion-input>
                    </ion-item>
                  </div>
                  <span class="input-padding"></span>
                </div>
              </ion-col>
            </ion-row>
          </ion-grid>
          <ion-item lines="none">
            <div slot="end">
              <ion-button size="large" type="submit" color="warning"
                >EDIT
                <ion-icon name="add-circle-sharp"></ion-icon>
              </ion-button>
            </div>
          </ion-item>
        </form>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <div class="footer"></div>
  </ion-toolbar>
</ion-footer>
