// Edit Responder stylesheet
.header {
    // position: absolute;
    width: 100%;
    height: 58px;
    background: rgba(0, 21, 79, 0.9);
    margin: 0;
}

.footer {
    width: 100%;
    height: 58px;
    background: rgba(0, 21, 79, 0.9);
}

ion-back-button {
    color: rgba(240, 236, 33, 0.9);
}

.divider {
    display: flex;
    &:before,
    &:after {
        content: "";
        flex: 1;
    }
}

.line {
    align-items: center;
    margin: 1em -1em;
    color: #000000;
    &:before,
    &:after {
        height: 1px;
        margin: 0 1em;
    }
}

.one-line {
    &:before,
    &:after {
        background: #cccccc;
    }
}

.auth-form ion-row {
    height: 100%;
    justify-content: center;
}

.auth-form ion-label {
    color: rgba(0, 21, 79, 0.6);
    // opacity: 1;
    // font-family: Inconsolata;
    font-style: normal;
    font-weight: bold !important;
    // font-size: 30px;
    // line-height: 35px;
    // align-items: center;
    letter-spacing: 0.1em;
}

.input-form-line {
    background: #FFFFFF;
    border: 1.5px solid #F2BC94;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px #888888;
    border-radius: 3px;
}

.auth-form ion-button {
    font-weight: bold;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 3px;
    // padding: 5px;
}

.input-padding {
    padding: 5px;
}