<!-- <ion-header>
  <ion-toolbar class="ion-padding-vertical">
    <ion-title class="ion-align-items-center">
      <ion-icon class="target" name="locate-sharp"></ion-icon>FIND UNIT
    </ion-title>
  </ion-toolbar>
</ion-header> -->

<app-victim-menu></app-victim-menu>

<ion-content>
  <ion-grid>
    <ion-row class="ion-text-center ion-align-items-center">
      <ion-col size-md="6" offset-md="3" class="ion-margin-vertical">
        <div class="form">
          <form size="12" (ngSubmit)="submitForm()" #infoForm="ngForm">
            <ion-item>
              <ion-label>Select Emmergency Type</ion-label>
              <ion-select name="unitType" [(ngModel)]="userInfo.unitType" placeholder="Type">
                  <ion-select-option [value]="types" *ngFor="let types of emergencies">{{types}}</ion-select-option>
              </ion-select>
          </ion-item>
            <!-- <ion-item no-lines>
              <ion-input type="text" name="address" [(ngModel)]="userInfo.address" placeholder="ENTER LOCATION" required></ion-input>
            </ion-item> -->
            <ion-button type="submit">
              <ion-icon name="search-sharp"  slot="start"></ion-icon> Find
            </ion-button>
       
          </form>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>