ion-content {
  --background: #00154f url('./assets/path (Stroke).svg');
}

ion-button {
  --background: #f4af1b;
  font-family: 'Inconsolata', monospace;
  font-style: normal;
  font-weight: normal;
  font-size: 13.5px;
  line-height: 35px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.03em;
  color: #000000;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 3px;
}

ion-text {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 35px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #f2bc94;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.flex-cont {
  min-height: 80vh;
  width: 100%;
  padding: 9vh 0;
  margin: auto 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.logo-img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  text-align: center;
  background-color: #f4af1b;
  font-weight: 700;
  padding: 5px;
  margin: 0 auto;
}

.logo-img ion-icon {
  color: #00154f;
  font-size: 40px;
}

.circle {
  background: rgba(244, 175, 27, 0.5);
  position: absolute;
  top: 30vh;
  height: 30px;
  width: 30px;
  left: 50px;
  border-radius: 50%;
}

.circle2 {
  background: rgba(244, 175, 27, 0.5);
  mix-blend-mode: screen;
  position: absolute;
  top: 60vh;
  height: 40px;
  width: 40px;
  left: 95%;
  border-radius: 50%;
  clip-path: polygon(0 44%, 100% 44%, 100% 100%, 0 100%);
  transform: rotate(90deg);
}

.polygon {
  position: absolute;
  top: 90vh;
  height: 40px;
  width: 40px;
  clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
  right: 90%;
  transform: rotate(90deg);
  background: rgba(242, 188, 148, 0.7);
  mix-blend-mode: screen;
  transform: rotate(48.89deg);
}
