@import url('https://fonts.googleapis.com/css2?family=\'Poppins\', sans-serif:wght@100;200;300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@400;700&display=swap');

ion-menu {
  --ion-background-color: var(--ion-color-secondary);
  --ion-text-color: var(--ion-color-secondary-tint);
  ion-list {
    background: transparent;
  }
  ion-content{
    background-color: transparent !important;
}
}

// Menu harmburger design start
.menu-harmbg-1 {
  position: absolute;
  width: 30px;
  height: 1.86px;
  background: var(--ion-color-secondary);
  border-radius: 45px;
  transform: rotate(-180deg);
  margin-bottom: 5px;
  top: -5px;
}

.menu-harmbg-2 {
  position: absolute;
  width: 19.71px;
  height: 1.86px;
  background: var(--ion-color-secondary);
  border-radius: 45px;
  transform: rotate(-180deg);
  margin-top: 5px;
  top: -5px;
  left: 10px;
}

.menu-harmbg-3 {
  position: absolute;
  width: 30px;
  height: 1.86px;
  background: var(--ion-color-secondary);
  border-radius: 45px;
  transform: rotate(-180deg);
  margin-top: 10px;
  top: -5px;
}
// Menu harmburger design end

.admin-menu-bg {
  --background: var(--ion-color-primary);
  height: 80px;
  padding: 10px;
}

// header Title and SVG start
ion-title {
  position: relative;
  text-align: center;
  top: -14px;
}

.user-helpsvg{
  width: 45px;
  height: 45px;
  position: relative;
  color: var(--ion-color-secondary);
  top: 22px;
  left: 8px;
  z-index: 1111;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.header-shadow-text {
  font-family: '' Poppins ', sans-serif';
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 40px;
  letter-spacing: 0.05em;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
// header Title and SVG end

// body 
.user-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  left: 0;
  right: 0;
  margin: 0;
  top: 50%;
  transform: translateY(-50%);
  padding: 160px 20px 10px 20px;
}

.user-location {
  border: 1px solid var(--ion-color-secondary);
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  border-width: 15px 1px 1px 1px;
  width: 100%;
  min-height: 70vh;
  margin: 20px;
}

// LOCATION CONFIRMATION
.confirm-text {
  text-align: center; 
  text-transform: uppercase;
  font-size: 28px;
  font-weight: bold;
  margin: 30px;
  color: #00154f;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.location-text {
  text-align: left;
  font-weight: 500px; 
  text-transform: capitalize;
  font-size: 20px;
  margin: 10px 10px 0 10px;
  font-family: '' Poppins ', sans-serif';
  font-style: normal;
  line-height: 40px;
  letter-spacing: 0.05em;
  color: #00154f;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.text-loc {
  font-size: 24px;
  color: red;
  text-align: center;
  letter-spacing: 0.05em;
  padding-top: 20px;
}

.quest-loc {
  font-size: 24px;
  color: red;
  text-align: center;
  letter-spacing: 0.05em;
  padding-top: 5px;
}


.confirm-btn {
  display: flex;
  justify-content: space-between;
  padding: 20px 20px;
  color: #00154f;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

@media (min-width: 1200px) and (max-width: 1600px) {
  .user-location {
    border: 1px solid var(--ion-color-secondary);
    width: 350px;
    height: 60vh;
  }
}