<!-- <ion-header>
  <ion-toolbar>
    <ion-title>view-respondant-list</ion-title>
  </ion-toolbar>
</ion-header> -->

<app-admin-menu></app-admin-menu>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size-md="6" offset-md="3">
        <ion-text class="ion-text-center">
          <h1 class="heading">RESPONDERS</h1>
        </ion-text>

        <div class="cards-holder">
          <ion-card>
            <div class="card-buttons">
              <ion-button fill="clear">
                <ion-icon name="create-outline"></ion-icon>
              </ion-button>

              <ion-button fill="clear">
                <ion-icon name="trash-outline"></ion-icon>
              </ion-button>
            </div>
            <ion-card-header>
              <ion-card-title>UNIT ID: 547AT2</ion-card-title>
            </ion-card-header>
            <ion-card-content>
              National Industrial Court Nigeria, Enugu, Nigeria.
            </ion-card-content>
          </ion-card>
          <ion-card>

            <div class="card-buttons">
              <ion-button fill="clear">
                <ion-icon name="create-outline"></ion-icon>
              </ion-button>
            
              <ion-button fill="clear">
                <ion-icon name="trash-outline"></ion-icon>
              </ion-button>
            </div>
            <ion-card-header>
              <ion-card-title>UNIT ID: 341TT9</ion-card-title>
            </ion-card-header>
            <ion-card-content>
              Off Adeola Odeku , Victoria Island , Lagos , Nigeria.
            </ion-card-content>
          </ion-card>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>


<ion-footer>
  <ion-toolbar>
    <!-- <ion-title>Footer</ion-title> -->
  </ion-toolbar>
</ion-footer>